
@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <img src="~/Imagenes/Luis.jpg" width="150" height="150"/>
    <p>Matrícula: 2017-4846</p>
    <p> Nombre: Luis Miguel </p>
    <p> Apellido: Aquino Cornelio </p>
    <p> Edad: 20</p>
    <p> Cuatrimestre: 6to</p>
</div>

<div class="jumbotron">
    <img src="~/Imagenes/guppy.jpg" width="150" height="150" />
    <p>Matrícula: 2017-4846</p>
    <p> Nombre: Juan Ernesto</p>
    <p> Apellido: Marmolejos Danis</p>
    <p> Edad: 18</p>
    <p> Cuatrimestre: 7mo</p>
</div>
